$blackName: rgb(50, 50, 90);
$color: rgb(10, 10, 10);
@mixin bodyObj{
    margin: 0 5%;
    width: 90%;
}
@mixin btn{
    width: fit-content;
    padding: 10px 30px;
    margin-top: 30px;
    color: $blackName;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.headerIcon{
    font-size: 30px;
}
.rightSide{
    position: fixed;
    top: 50%;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translate(0, -50%);
    width: fit-content;
    padding: 10px;
    z-index: 1;
    background-color: $color;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    background-color: $blackName;
    height: 80px;
    form{
        margin: 0 auto;
        border: 1px solid $blackName;
        display: flex;
        padding: 3px 5px;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        input{
            width: 500px;
            height: 40px;
            border: none;
            outline: none;
        }
    }
    
}
.recentSwiper{
    @include bodyObj;
    overflow: auto;
    height: fit-content;
    text-align: left;
    margin-top: 100px;
    position: relative;
    div{
        font-size: 30px;
    }
    p{
        font-size: 30px;
    }
    .rest{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        img{
            width: 300px;
            align-self: center;
        }
    }
    .swiperH{
        margin: 100px 0 10px 0;
        text-align: center;
        color: $blackName;
        span{
        font-size: 30px;
        font-weight: 900;
        }
    }
    .swiper{
        display: flex;
        width: 100%;
        height: 400px;
        overflow: auto;
        margin-top: 20px;
        align-items: center;
        .button{
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0 ,-50%);
            border: 1px solid red;
            border-radius: 50%;
            padding: 10px;
            color: red;
        }
    }
}

.card.active{
    transition: all 500ms;
    scale: 0.5;
}
.card{
    white-space: wrap;
    width: 250px;
    height: 300px;
    padding: 25px 0;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: $blackName;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    img{
        width: 100%;
    }
    .holder{
        display: grid;
        width: 100%;
        white-space: wrap;
    }
    p{
        width: 250px;
        height: 100%;
        font-size: 25px;
        margin: 0;
    }
    button{
        cursor: pointer;
        margin: 10px auto;
        padding: 10px 15px;
        border: none;
        background-color: white;
        font-weight: 500;
        font-size: 20px;
        border-radius: 20px;
    }
}
.general{
    @include bodyObj;
    text-align: center;
    color: white;
    margin-top: 70px;
    .allmap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 100%;
        margin-top: 70px;
        padding-bottom: 30px;
    }
    span{
        font-weight: 900;
        font-size: 40px;
        margin: 20px 0;
        color: $blackName;
    }
}

.large{
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid $blackName;
    padding: 10px 15px;
    background-color: $blackName;
    border-radius: 20px;
    transition: all 500ms ease;
    margin: 0;
    overflow: hidden;
    .cardTitle{
        display: grid;
        grid-template-columns: 80% 30%;
        align-items: start;
        justify-items: center;
        border-bottom: 1px solid white;
    }
    .icon{
        font-size: 40px;
    }
    span{
        color: white;
    }
    button{
        padding: 10px 15px;
        border: none;
        background-color: white;
        font-weight: 500;
        font-size: 20px;
        border-radius: 20px;
    }
}
.large:last-child{
    margin-right: auto;
}
.large:hover{
    background-color: white;
    padding: 10px 15px 40px 15px;
    color: $blackName;
    cursor: pointer;
    height: fit-content;
    .cardTitle{
        border-bottom: 1px solid $blackName;
    } 
    span{
        color:  $blackName;
    }   
    button{
        border: 2px solid $blackName;
        cursor: pointer;
    }
}
.page{
    width: 100vw;
    background-color: lightblue;
    position: relative;
    button{
        @include btn()
    }
    .close{
        position: absolute;
        top: 50px;
        right: 50px;
        color: red;
        font-size: 40px;
    }
    span{
        font-size: 30px;
    }
    .pageTop{
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        color: white;
        background-color: $blackName;
        display: flex;
        flex-direction: column;
        margin: 0 0 50px;
        align-items: center;
        span{
            line-height: 45px;
        }
    }
    .tittle{
        background-color: $blackName;
        color: white;
        width: 50%;
        margin: 0 auto;
        .progHold{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: conic-gradient(green 3.6deg, #efef 0deg);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                font-weight: 500;
                font-size: 50px;
                transform: translate(-50%, -50%);
            }
        }
        .progHold::after{
            content: '';
            width: 280px;
            height: 280px;
            background-color: $blackName;
            border-radius: 50%;
        }
        .name{
            text-align: center;
            font-size: 30px;
        }
    }
    .topics{
        display: flex;
        position: relative;
        width: 100%;
        gap: 50px;
        justify-content: center;
        .leftTopic{
            width: 100%;
            margin-left: 30px;
        }
        .rightTopic{
            top: 30px;
            width: 500px;
            height: 50%;
            padding: 30px;
            position: sticky;
            background-color: $blackName;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-sizing: content-box;
            align-items: center;
            color: white;
            margin-top: 30px;
            margin-right: 50px;
            .circularBar{
                border-radius: 50%;
                width: 300px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 10px solid $blackName;
                background: conic-gradient( $color 0deg,  white 1.5deg);
                .innerBar{
                border-radius: 50%;
                width: 250px;
                height: 250px;
                position: relative;
                background-color: $blackName;
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: white;
                    font-size: 80px;
                    transform: translate(-50%, -50%);
                }
                }
            }
            .barHolder{
                height: 300px;
                width: 100%;
                overflow: auto;
                overflow-y: hidden;
                display: flex;
                align-items: center;
                padding: 10px 0;
                .holder.active{
                    .bar{
                    height: 0%;
                    align-self: end;
                    .score{
                        height: 0;
                    }
                    }
                    p{
                        scale: 0;
                    }
                }
                .holder{
                    display: grid;
                    grid-template-rows: 2fr 1fr;
                    height: 250px;
                    justify-items: center;
                    align-items: end;
                    width: 200px;
                    align-items: center;
                    .bar{
                        align-self: end;                        
                        transition: all 500ms;
                        width: 30px;
                        height: 100%;
                        border-radius: 30px;
                        position: relative;
                        background-color: $color;
                        overflow: hidden;
                        border: 7px solid $color;
                        .score{
                            transition: all 500ms;
                            width: 100%;
                            bottom: 0;
                            border-radius: 30px;
                            left: 50%;
                            transform: translate(-50%);
                            height: 100%;
                            background-color: white;
                            position: absolute;
                        }
                    }
                }
                p{
                    display: inline;
                    font-weight: 500;
                    width: 150px;
                    margin: 0;
                    font-size: 20px;
                    height: 100px;
                    text-align: center;
                }
            }
            .attendanceHolder{
                display: flex;
                flex-direction: column;
                align-items: center;
                .attendDetailTop{
                    width: 100%;
                    display: flex;
                    margin-bottom: 30px;
                    justify-content: space-around;
                    span{
                        margin: 30px 0 0 0;
                    }
                }
                .attendanceDetail{
                    height: 150px;
                    overflow: auto;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 20px;
                    gap: 10px;
                    li.active{
                        transform: translate(-600px);
                        transition: all 500ms;
                    }
                }
            }
        }
    }
    .toLearn.active{
        scale: 0.9;
    }
    .toLearn{
        margin: 30px 0;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        .topHead{
            grid-template-columns: 30% 70%;
            display: grid;
            width: 100%;
            justify-content: center;
        }
        .detail{
            width: 100%;
            background-color: $blackName;
            color: #efe;
            text-align: center;
            padding: 30px;
            font-size: 25px;
            line-height: 30px;
            box-sizing: border-box;
            button.clickable{
                pointer-events: none;
                opacity: 0.4;
            }
        }
        .detail.hide{
            display: none;
        }
        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            text-align: center;
            box-sizing: border-box;
            background-color: $blackName;
            .top{
                color: rgba( #fff, $alpha: 0.5);
                font-weight: 500;
                display: flex;
                width: 100%;
                margin-bottom: 20px;
                justify-content: space-between;
                align-self: flex-start;
                span{
                    font-size: 25px;
                }
            }
            button{
                @include btn()
            }
        }
        .right{
            background-color: #efef;
            color: $blackName;
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            .head{
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                span{
                    align-self: center;
                    font-weight: 500;
                    font-size: 25px;
                }
                .level{
                    width: 200px;
                    height: 5px;
                    position: relative;
                    background-color: gray;
                    border-radius: 20px;
                    .done{
                        background-color: $blackName;
                        width: 0;
                        height: 100%;
                    }
                    .read{
                        font-size: 20px;
                        bottom: -30px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        position: absolute;
                    }
                }
            }
        }
        span{
            align-self: center;
            font-weight: 500;
            font-size: 40px;
        }
        .btnHolder{
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            button{
                @include btn()
            }
        }
        li{
            text-align: left;
            font-size: 25px;
            margin-left: 30px;
            margin-top: 20px;
            list-style: none;
        }
        li::before{
            content: '';
            height: 10px;
            width: 10px;
            display: inline-block;
        }
        .topicHead{
            font-size: 40px;
            font-weight: 500;
            color: white;
        }
        .resourceTittle{
            margin-top: 50px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .resourcesDropdown{
            margin: 10px auto;
            width: 70%;
            font-size: 25px;
            display: flex;
              align-items: center;
            justify-content: center;
            gap: 20px;
            select{
                padding: 10px 20px;
                font-size: 30px;
            }
            div{
                background-color: $blackName;
                color: white;
                padding: 10px;
                margin: 5px;
                scale: 1;
                display: flex;
                justify-content: space-between;
                .resicon{
                    display: none;
                }
            }
            div:hover{
                .resicon{
                    display: block;
                }
            }
        }
    }
}
.msgContainer.active{
    right: -1000px;
}
.msgContainer{
    z-index: 5;
    position: fixed;
    right: 0;
    transition: all 300ms;
    width: 500px;
    height: 100vh;
    overflow: auto;
    background-color: $color;
    color: white;
    .cancel{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: white;
        border-radius: 50%;
        z-index: 2;
    }
    .head{
        background-color: #fff;
        color: $blackName;
        width: 350px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-size: 24px;
        justify-content: space-between;
        padding: 20px;
        button{
          @include btn();  
          margin: 0;
        }
    }
    .msg.active::after{
        content: '';
        background-color: red;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .msg{
        position: relative;
        background-color: white;
        color: $blackName;
        width: 350px;
        height: 230px;
        margin: 20px auto;
        display: grid;
        padding: 20px ;
        grid-template-columns: 50px 1fr;
        justify-content: center;
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                display: -webkit-box;
                overflow : hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;

            }
        }
        .icon{
            font-size: 30px;
            position: relative;
        }
    }
}
.formHold{
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1;
    position: fixed;
    top: -2000px;
    align-items: center;
    justify-content: center;
    background-color: #efef;
    .formEle{
        padding: 50px;
        background-color: $blackName;
        gap: 50px;
        transition: all 400ms;
        border-radius: 20px;
        .close{
            position: absolute;
            color: red;
            font-size: 40px;
            top: 10px;
            right: 10px;
        }
        div{
            color:  white;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            input{
                width: 400px;
                height: 30px;
                font-size: 25px;
                outline: none;
                border: none;
                background-color: #fff
            }
            input.active{
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.5
            }
        }
        button{
            @include btn();
            align-self: center;
        }
    }
}
.clipboard{
    padding: 20px 10px;
    background-color: #fff;
    border: 2px solid $blackName;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    width: 300px;
    text-align: center;
    position: fixed;
    bottom: -1000px;
    left: 50%;
    transform: translate(-50%);
    transition: all 400ms;
}
.clipboard.active{
    bottom: 10px;
}