$blackName: rgb(50, 50, 90);
$color: rgb(10, 10, 10);
@mixin bodyObj{
    margin: 0 5%;
    width: 90%;
}
@mixin btn{
    width: fit-content;
    padding: 10px 30px;
    margin-top: 30px;
    color: $blackName;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
body{
    margin: 0;
}
.headerIcon{
    font-size: 30px
}
.rightSide{
    position: fixed;
    top: 50%;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translate(0, -50%);
    width: fit-content;
    padding: 10px;
    background-color: $blackName;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    background-color: $blackName;
    height: 80px;
    form{
        margin: 0 auto;
        border: 1px solid $blackName;
        display: flex;
        padding: 3px 5px;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        input{
            width: 500px;
            height: 40px;
            border: none;
            outline: none;
        }
    }
    
}
.recentSwiper{
    @include bodyObj;
    overflow: auto;
    height: fit-content;
    text-align: left;
    margin-top: 100px;
    position: relative;
    div{
        font-size: 30px;
    }
    p{
        font-size: 30px;
    }
    .rest{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        img{
            width: 300px;
            align-self: center;
        }
    }
    .swiperH{
        margin: 100px 0 10px 0;
        text-align: center;
        color: $blackName;
        span{
        font-size: 30px;
        font-weight: 900;
        }
    }
    .swiper{
        display: flex;
        width: 100%;
        height: 400px;
        overflow: auto;
        margin-top: 20px;
        align-items: center;
        .button{
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0 ,-50%);
            border: 1px solid red;
            border-radius: 50%;
            padding: 10px;
            color: red;
        }
    }
    .swiper::-webkit-scrollbar{
        height: 10px;
        background-color: $blackName;
        border-radius: 5px;
    }
    .swiper::-webkit-scrollbar-button{
        display: none;
    }
    .swiper::-webkit-scrollbar-thumb{
        background-color: $color;
        width: 20px;
        border-radius: 5px;
    }
}
.card{
    white-space: wrap;
    width: 250px;
    height: 300px;
    padding: 25px 0;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: $blackName;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    img{
        width: 100%;
    }
    .holder{
        display: grid;
        width: 100%;
        white-space: wrap;
    }
    p{
        width: 250px;
        height: 100%;
        font-size: 25px;
        margin: 0;
    }
    button{
        cursor: pointer;
        margin: 10px auto;
        padding: 10px 15px;
        border: none;
        background-color: white;
        font-weight: 500;
        font-size: 20px;
        border-radius: 20px;
    }
}
.general{
    @include bodyObj;
    text-align: center;
    color: white;
    margin-top: 70px;
    .allmap{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        gap: 20px;
        width: 100%;
        margin-top: 70px;
    }
    span{
        font-weight: 900;
        font-size: 40px;
        margin: 20px 0;
        color: $blackName;
    }
}

.large{
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid $blackName;
    padding: 10px 15px;
    background-color: $blackName;
    border-radius: 20px;
    transition: all 500ms ease;
    margin: 0;
    overflow: hidden;
    .cardTitle{
        display: grid;
        grid-template-columns: 80% 30%;
        align-items: center;
        justify-items: center;
        border-bottom: 1px solid white;
    }
    .icon{ 
        font-size: 40px;
    }
    span{
        color: white;
    }
    button{
        padding: 10px 15px;
        border: none;
        background-color: white;
        font-weight: 500;
        font-size: 20px;
        border-radius: 20px;
    }
}

.large:hover{
    background-color: white;
    padding: 10px 15px 40px 15px;
    color: $blackName;
    cursor: pointer;
    height: fit-content;
    .cardTitle{
        border-bottom: 1px solid $blackName;
    } 
    span{
        color:  $blackName;
    }   
    button{
        border: 2px solid $blackName;
        cursor: pointer;
    }
}
.page{
    width: 100vw;
    background-color: lightblue;
    position: relative;
    button{
        @include btn()
    }
    .close{
        position: absolute;
        top: 50px;
        right: 50px;
        color: red;
        font-size: 40px;
    }
    span{
        font-size: 30px;
    }
    .pageTop{
        padding: 30px 0;
        color: white;
        background-color: $blackName;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    .tittle{
        background-color: $blackName;
        color: white;
        width: 50%;
        margin: 0 auto;
        .progHold{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: conic-gradient(green 3.6deg, #efef 0deg);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                font-weight: 500;
                font-size: 50px;
                transform: translate(-50%, -50%);
            }
        }
        .progHold::after{
            content: '';
            width: 280px;
            height: 280px;
            background-color: $blackName;
            border-radius: 50%;
        }
        .name{
            text-align: center;
            font-size: 30px;
        }
    }
    .topics{
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        margin: 0 auto;
        justify-items: center;
    }
    .toLearn{
        margin: 10px 0;
        border-radius: 20px;
        display: grid;
        overflow: hidden;
        grid-template-columns: 300px 500px;
        justify-content: center;
        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            background-color: $blackName;
            .top{
                color: rgba( #fff, $alpha: 0.5);
                font-weight: 500;
                font-size: 20px;
                align-self: flex-start;
            }
            button{
                @include btn()
            }
        }
        .right{
            background-color: #efef;
            color: $blackName;
            display: flex;
            flex-direction: column;
            .head{
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                .level{
                    width: 200px;
                    height: 5px;
                    position: relative;
                    background-color: $blackName;
                    border-radius: 20px;
                    .read{
                        font-size: 20px;
                        bottom: -30px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        position: absolute;
                    }
                }
            }
        }
        span{
            align-self: center;
            font-weight: 500;
            font-size: 30px;
        }
        .btnHolder{
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            padding: 10px;
            button{
                @include btn()
            }
        }
        li{
            text-align: left;
            font-size: 25px;
            margin-left: 30px;
            margin-top: 20px;
            list-style: none;
        }
        li::before{
            content: '';
            background-image: url('./img/check.png');
            height: 10px;
            width: 10px;
            display: inline-block;
        }
        .topicHead{
            font-size: 40px;
            font-weight: 500;
            color: white;
        }
        .resourceTittle{
            margin-top: 50px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .resourcesDropdown{
            margin: 10px auto;
            width: 70%;
            font-size: 25px;
            display: flex;
              align-items: center;
            justify-content: center;
            gap: 20px;
            select{
                padding: 10px 20px;
                font-size: 30px;
            }
            div{
                background-color: $blackName;
                color: white;
                padding: 10px;
                margin: 5px;
                scale: 1;
                display: flex;
                justify-content: space-between;
                .resicon{
                    display: none;
                }
            }
            div:hover{
                .resicon{
                    display: block;
                }
            }
        }
    }
}
.msgContainer{
    background-color: $blackName;
    padding: 10px;
    width: 500px;
    height: 500px;
    position: fixed;
    top: -5000px;
    color: white;
    left: 50%;
    overflow: auto;
    transition: all 400ms;
    transform: translate(-50%, -50%);
    text-align: center;
    .msg{
        padding: 0 10px;
        border-bottom: 1px solid white;
        .msgType{
            font-size: 30px;
        }
    }
}
.msgContainer.active{
    top: 50%;
}
.msgContainer::-webkit-scrollbar{
    background-color: $blackName;
    width: 5px;
    padding: 5px;
    border-radius: 50px;
}
.msgContainer::-webkit-scrollbar-thumb{
    background-color: white;   
}
.msgContainer::-webkit-scrollbar-button{
    display: none;
}
.formEle{
    width: fit-content;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: $blackName;
    position: fixed;
    top: -1000px;
    gap: 50px;
    transition: all 400ms;
    border-radius: 20px;
    .close{
        position: absolute;
        color: red;
        font-size: 40px;
        top: 10px;
        right: 10px;
    }
    div{
        color:  white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        input{
            width: 400px;
            height: 30px;
            font-size: 25px;
            outline: none;
            border: none;
            background-color: #fff
        }
        input.active{
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5
        }
    }
    button{
        @include btn();
        align-self: center;
    }
}
.formEle.active{
    top: 50%;
    transform: translate(0,-50%);
}